MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/al-jannat?retryWrites=true&w=majority"
MONGODB_DB="al-jannat"
MONGODB_URL="mongodb+srv://Al-jannat:<db_password>@cluster0.tyo7un.mongodb.net/"
 MONGODB_URL="Al-jannat"